table {
    text-align: left;
    position: relative;
    border-collapse: collapse; 
    text-size-adjust:auto;
    font-size: 2vh;
  }
  td {
    padding: 0.4rem;
  }
  tr{
    border-bottom: 1px solid;
    border-color: rgb(211, 211, 211);
  }
 
  th {
    background: white;
    color: #51ADA9;
    padding-left: 6.5%;
    padding-bottom: 1%;
    font-size: 2vh;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
.icon{
    text-align: center;
    width: 5%;
}
.female {
    color: #E93CAC;
    display: inline-block;
    margin-right: 5px;
}
.male {
    color: #4690FF;
    display: inline-block;
    margin-right: 5px;
}
.red{
    color: red;
}
.green{
    color: green;
}


