.Location{
    text-align: center;
}
table{
    width: 100%;
}
.back{
    margin-bottom: -5vh;
}
.o1, .selected{
    font-size: 12px;
    border-radius: 3px;
    background-color:white;
    border-style:solid;
    border-width: 1px;
    width: 80px;
    border-color: #51ADA9;
    color: #51ADA9;
    text-size-adjust:auto;
}
.selected{
    background-color:#51ADA9;
    color:white;
}
input[type="radio"] {
  position: fixed;
  z-index: -10;
  opacity: 0;
  left: 0;
  top: 0;
}
.btn-primary:not(:disabled):not(.disabled).active{
    background-color: #51ADA9;
}
.spinner{
    margin-top: 20vh;
    color: grey;
}
.h1, .h2, .h3 {
    font-weight: bold;
    text-size-adjust:auto;
    font-size: 2vh;
    width: 20%;
}
.h2{
    width: 12%; 
}
.h3{
    width: 6%;
}